@theme {
  --color-primary: #0d1846; /* fallback */
  --color-primary: oklch(23.31% 0.087 268.43);

  --color-accent: #e95623; /* fallback */
  --color-accent: oklch(64.31% 0.192 37.88);

  --color-sub-blue: #406eb7; /* fallback */
  --color-sub-blue: oklch(54.13% 0.125 259.27);

  --color-sub-yellow: #ffca28; /* fallback */
  --color-sub-yellow: oklch(86.22% 0.168 88.31);

  --color-primary-black: #1b1b1b; /* fallback */
  --color-primary-black: oklch(22.21% 0 0);

  --color-primary-white: #ededed; /* fallback */
  --color-primary-white: oklch(94.61% 0 0);

  --color-primary-gray1: #7b7b7b; /* fallback */
  --color-primary-gray1: oklch(58.29% 0 0);

  --color-primary-gray2: #4d4d4d; /* fallback */
  --color-primary-gray2: oklch(42.02% 0 0);

  --color-background-white: #ffffff; /* fallback */
  --color-background-white: oklch(100% 0 0);

  --color-background-black1: #121212; /* fallback */
  --color-background-black1: oklch(18.22% 0 0);

  --color-background-black2: #181a1b; /* fallback */
  --color-background-black2: oklch(21.6% 0.004 228.98);

  --animate-toLight: toggle-toLight 1.1s forwards;
  --animate-toDark: toggle-toDark 1.1s forwards;
}

@keyframes toggle-toLight {
  0% {
    transform: translateX(32px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes toggle-toDark {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(35px);
  }
}
